{% extends 'layout.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<h2 style="color: beige;"> Welcome {{firstname.title()}}</h2>



<!-- <div class="col-sm-4">
    <a style="text-align: center;" href="{{ url_for('createTeam') }}" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">CREATE YOUR TEAM!</a> 
</div> -->
<br>
<br>
<h5 style="color: beige;">Enter Your Squad Name {{ msg }}</h5>
<form method="post" action="{{ url_for('squad') }}">
    <div class="input-group">
    <input type="search" class="form-control rounded" name = "squad" placeholder="Enter squad name.." aria-label="Search" aria-describedby="search-addon" />
    <button type="submit" class="btn btn-info btn-lg">CREATE YOUR TEAM!</button>
</div>
</form>
<!-- href="{{ url_for('createTeam') }}" -->
<!-- <p> Test</p> -->
{% endblock %}